@import '../../stylesheets/mixins.scss';
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_utilities.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_grid.scss";
@import "~bootstrap/scss/_modal.scss";
@font-face {
    font-family: 'Verlag-Book';
    src: url('../../fonts/Verlag-Book/Verlag-Book.otf') format("opentype");
    src: url('../../fonts/Verlag-Book/Verlag-Book.eot?d7yf1v');
    src: url('../../fonts/Verlag-Book/Verlag-Book.eot?#iefixd7yf1v') format('embedded-opentype'), url('../../fonts/Verlag-Book/Verlag-Book.woff?d7yf1v') format('woff'), url('../../fonts/Verlag-Book/Verlag-Book.ttf?d7yf1v') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Verlag-Book';
    src: url('../../fonts/Verlag-Book/Verlag-Bold.otf') format("opentype");
    src: url('../../fonts/Verlag-Book/Verlag-Bold.eot?d7yf1v');
    src: url('../../fonts/Verlag-Book/Verlag-Bold.eot?#iefixd7yf1v') format('embedded-opentype'), url('../../fonts/Verlag-Book/Verlag-Bold.woff?d7yf1v') format('woff'), url('../../fonts/Verlag-Book/Verlag-Bold.ttf?d7yf1v') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
@import url(//fonts.googleapis.com/css?family=Droid+Serif);

.personal-modal{
    overflow: hidden;
    width: 100%;
    position: relative;
    grid-column: 1/-1;
    grid-template-columns: [full-start] minmax(30px, 30px) [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] minmax(30px, 30px) [full-end];
}
.personal-modal{
    display: grid;
    .text-box{
        text-align: center;
        color: #fff;
        margin-top: 4rem;
        grid-column: 1/-1;
        grid-row: 1/2;
        @include breakpoint(md){
            margin-bottom: 4rem;
        }
        h3{
            margin-bottom: 0;
            margin-top: 0;
            text-transform: uppercase;
            text-align: center;
            font-family: "Verlag-Book","Helvetica Neue", Helvetica, Arial, sans-serif;

            @include breakpoint(md) {
                font-size: 2.25rem;
                line-height: 1.5em;
                font-weight: 300;
            }
        }
        h6 {
            font-size: 1rem;
            font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            // margin: 0;
            text-align: center;
            margin-bottom: 0;
            @include breakpoint(smd) {
                font-size: 1.2rem;
            }
        }
    }
    .container {
        display: grid;
        grid-column: 1/-1;
        grid-row: 2/2;
        @include breakpoint(lg){
        }
        .top-projects{
            grid-row: 1;
            display: flex;
            flex-wrap: no-wrap;
            flex-direction: column;
            @include breakpoint(smd){
                flex-direction: row;
            }
            @include breakpoint(lg){
                // height: 50vh;
                min-height: 400px;
                max-height: 800px;
            }
        }
        .bottom-projects{
            grid-row: 2;
            display: flex;
            flex-wrap: no-wrap;
            flex-direction: column;
            width: 100%;
            @include breakpoint(smd){
                flex-direction: row;
            }
            @include breakpoint(lg){
                min-height: 400px;
                max-height: 800px;
            }

        }
        .project{
            width: 100%;
            position: relative;
            grid-row: 2;
            overflow: hidden;
            max-height: 500px;
            @include breakpoint(md){
                max-height: auto;
            }
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-image: linear-gradient(90deg, rgba(0, 0, 0, .4) 100%, rgba(0, 0, 0, .4) 100%);
                z-index: 0;
            }
            &:hover{
                @include breakpoint(md){
                    h3{
                        z-index: 10;
                        opacity: 1;
                    }
                }
            }
            h3{
                position: absolute;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                color: #fff;
                transform: translate(0%,50%);
                text-align: center;
                z-index: 10;
                margin: 0;
                font-family: "Verlag-Book","Helvetica Neue", Helvetica, Arial, sans-serif;
                @include breakpoint(md){
                    width: auto;
                    z-index: -1;
                    opacity: 0;
                    transition: all .3s;
                    transform: translate(0%,0%);
                    text-align: center;
                    padding: 5rem;
                    font-size: 3.7rem;
                }
         
            }
         
            img{
                width: 100%;
                height: 100%;
            }
            .background {
                -webkit-backdrop-filter:saturate(180%) blur(3px);
                backdrop-filter: saturate(180%) blur(3px);
                position: absolute;
                width: 100vw;
                height: 100%;
            }
        }
    }
}
.modal-backdrop.show{
    opacity: 0.4;
}
.modal{
    background-color: rgba(0, 0, 0, .4);
}
.fade.modal.show{
    background-color:rgba(0, 0, 0, .4) ;
    .modal-content{
        background-color: transparent;

        color: #fff;
        .project-details{
            width: 100%;
            .modal-header{
                border: hidden;
              
                svg{
                    margin-left: auto;
                    width: 1rem;
                    @include breakpoint(smd){
                        height: 1.5rem;
                        width: 2rem;
                    }
                }
                button{
                    background-color: transparent;
                    color: #fff;
                    border: transparent;
                    margin: 0;
                    @include breakpoint(smd){
                        margin-left: -1.5rem;

                    }
                }
            }
        }
    }
    .modal-body{
        .container{
            h4{
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                margin-top: 0;
                font-family: "Verlag-Book","Helvetica Neue", Helvetica, Arial, sans-serif;

                @include breakpoint(md){
                    font-size: 2.5rem;
                }
                
            }
            
            h5{
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                margin-top: 0;
                font-family: "Verlag-Book","Helvetica Neue", Helvetica, Arial, sans-serif;

                
            }
            p{
                font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1rem;
                color: #e3e3e3;
            }
            .separator-container{
                @include breakpoint(smd){
                    margin-bottom: 3rem;
                }
            }
            .project-area{
                display: flex;
                flex-direction: column;
                @include breakpoint(smd){
                    flex-direction: row;
                    
                }
                @include breakpoint(lg){
                    max-width: 1200px;
                    margin: auto;
                }
                .text-box{
                    margin-bottom: 2rem;
                    @include breakpoint(md){
                        width: 25%;

                    }
                    h5{
                        text-align: left;
                    }
                    .d-none{
                        display: none;
                    }
                    .normal{
                        color:#fff;
                    }
                }
                .image-box{
                    
                    @include breakpoint(smd){
                        width: 75%;
                        padding-left: 1rem;
                    }
                    &_top{
                        @include breakpoint(smd){
                            margin-bottom: 1rem;
                        }
                        @include breakpoint(lg){
                            margin-bottom: 2rem;
                        }
                    }
                    &_top,&_bottom,&_extra{
                        display: flex;
                        flex-direction: column;
                        @include breakpoint(smd){
                            justify-content: space-between;
                            flex-direction: row;
                        }
                        @include breakpoint(lg){
                            justify-content: space-evenly;
                            flex-direction: row;
                        }
                       
                    }

                    &_extra{
                        margin: 2rem 0;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 1rem;
                    @include breakpoint(smd){
                        margin-bottom: 0;
                        width: 48%;
                    }
                    @include breakpoint(lg){
                        max-width: 350px;
                    }
                }
            }
        }
    }
}
.separator-container {
    text-align: center;

    color: #E3D9C2;
    margin: 0 auto;
    width: 11em;
    .separator.line-separator {
        width: 100%;
        color: #fff;
        margin: 0.5rem auto;
        position: relative;
        @include breakpoint(md) {
            margin: 1rem auto;
        }
        &::before {
            float: left;
            display: block;
            width: 40%;
            content: " ";
            margin-top: 7px;
            border: 1px solid #E3D9C2;
        }
        &::after {
            float: right;
            display: block;
            width: 40%;
            content: " ";
            margin-top: 7px;
            border: 1px solid #E3D9C2;
        }
    }
}